html,
body {
  background-color: #0f0f0f;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/*
.topnav {
    margin-top: 10px;
    margin-left: 50px;
    width: 100%;
    position:absolute;
}
*/

.profile {
  text-decoration: none;
  margin-top: 10px;
  margin-right: 25px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.searchbar {
  margin-left: 500px;
  width: 20%;
  background-color: #0f0f0f;
  border: 1px solid #828282;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 20px 0 0 20px;
  outline: none;
  color: white;
  font-size: 15px;
  padding-left: 20px;
}

.searchbar:focus {
  border-color: #1b60b6;
  color: white;
}

.searchbt {
  margin-left: -4px;
  width: 40px;
  height: 42px;
  border: 1px solid #828282;
  background: #222222;
  text-align: center;
  color: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 15px;
}

aside {
  float: left;
  height: 800px;
  width: 60px;
  position: fixed;
}

div.aside-content {
  padding-left: 10px;
}

a.aside-svg {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 15px;
  width: 11%;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

a.aside-svg:hover {
  background-color: #ff0000;
  border-radius: 10%;
  transition-duration: 0.25s;
}

div.burger-icon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

yt-icon.ytd-logo {
  height: 20px;
  width: 90px;
  padding: 3px 8px 32px 71px;
  color: white;
  flex: none;
}

yt-icon {
  display: inline-flexbox;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  fill: var(--iron-icon-fill-color, currentcolor);
  stroke: var(--iron-icon-stroke-color, none);
  width: var(--iron-icon-width, 24px);
  height: var(--iron-icon-height, 24px);
  -webkit-animation: var(--iron-icon-animation);
  animation: var(--iron-icon-animation);
  margin-top: var(--iron-icon-margin-top);
  margin-right: var(--iron-icon-margin-right);
  margin-bottom: var(--iron-icon-margin-bottom);
  margin-left: var(--iron-icon-margin-left);
  padding: var(--iron-icon-padding);
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 20px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 276px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #121212;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #272727;
  border-radius: 10%;
  margin-left: 10px;
  margin-right: 10px;
  color: red;
}

hr.menu {
  color: #828282;
  width: 258px;
}

div.main {
  margin-left: 60px;
}

div.main-profile {
  margin-left: 355px;
  margin-top: 20px;
}

.button-list {
  border: none;
  background-color: #272727;
  color: #ffff;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  margin-right: 10px;
  text-decoration: none !important;
  margin-bottom: 10px;
}

.button-list:hover {
  background-color: white;
  color: #000;
  transition-duration: 0.25s;
  cursor: pointer;
  text-decoration: none;
}

.button-list:active {
  background-color: white;
  color: #000;
  transition-duration: 0.25s;
  cursor: pointer;
  text-decoration: none;
}

.button-list:visited {
  background-color: white;
  color: #000;
  transition-duration: 0.25s;
  cursor: pointer;
  text-decoration: none;
}

.button-list:focus {
  background-color: white;
  color: #000;
  transition-duration: 0.25s;
  cursor: pointer;
  text-decoration: none;
}

.button-menu {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.video-menu {
  margin-left: 35px;
  /*display: inline;*/
}

.video-item {
  border-radius: 20px;
  width: 350px;
  display: inline;
  padding-right: 10px;
}

.video-profile {
  display: inline;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.video-profile-profile {
  display: inline;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.video-title {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

.video-title-profile {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}

.video-description {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 0.9rem;
  color: #aaaaaa;
  display: inline;
}

.video-description {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 0.9rem;
  color: #aaaaaa;
  display: inline;
}

.video-description-profile {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 0.9rem;
  color: #aaaaaa;
  display: inline;
}

path {
  fill: white;
}

a {
  text-decoration: none !important;
}

td {
  vertical-align: top;
}

.menu {
  width: 800px;
  max-width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
}

.radio {
  display: none;
}

.label {
  min-width: 70px;
  font-size: 12px;
  display: block;
  text-align: center;
  font-weight: bolder;
  padding: 8px 0;
  transition: 0.3s;
  cursor: pointer;
  color: #aaaaaa;
  font-family: "Roboto", "Noto", sans-serif;
}

.label:hover {
  color: #F1F1F1;
}

.label.community {
  min-width: 90px;
}

.underline {
  width: 70px;
  height: 4px;
  background: #B0B0B0;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
}

.radio:checked + label {
  color: #F1F1F1;
}

.radio[value="home"]:checked ~ .underline {
  left: 0;
}

.radio[value="playlists"]:checked ~ .underline {
  left: 70px;
}

.radio[value="community"]:checked ~ .underline {
  left: 140px;
  width: 90px;
}

.radio[value="channels"]:checked ~ .underline {
  left: 230px;
}

.radio[value="about"]:checked ~ .underline {
  left: 300px;
}